/* ============ Base Element Styles =========== */
* {
    box-sizing: border-box;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    color: rgb(102, 100, 100);
    margin: 4%;
    background-color: rgb(135, 238, 238)
}

img {
   max-width: 100%;
}

li {
    list-style: none;
    font-weight: 600;
    text-transform: uppercase;
    display: inline; 
} 

h2 {
    text-transform: uppercase;
    text-align: center;
}

main-header {
    background: lightgrey;
}

p {
    line-height: 1.4;
    font-size: larger;
}

/* =======Pseudo Links ==========*/

a { text-decoration: none;
}

a:hover {
    text-decoration: blue;
}
/* =======Layout Styles========= */
   
    h1 {
    padding-bottom: 2%;
    }
    h1,
    .main-nav {
    margin-bottom: 30px;;
 }
    .main-nav li {
    padding-right: 15px;
 }
  .bottom-nav li {
   padding-top: 20px;
   padding-right: 15px;
   list-style-type: none;
  }
    .portfolio-content {
    display: flex;
    flex-wrap: wrap;
 }
    .portfolio-content div {
    text-align: center;
    padding: 10px;
 }
 .contact-info {
    text-align: center;
}
  

 /* ========================================*/
 /*           Media Queries                 */
 /* ======================================= */
 
 @media (min-width: 768px){
    
    .main-nav  {
    margin-top: 0;
  }
  .main-nav li{
    display: inline-block; 
    width: auto;
    margin-right: 15px;
    
  }
  .main-nav li:last-child {
    margin-right: 0;
  }            
  .self-image {
    float: right;
    margin-right: 25px;
    margin-bottom: 5%;
 }
 .intro {
    float: left;
    width: 38%;    
 }
  .portfolio-content div {
  width: 50%
 }
.bottom-nav li {
   float: left;
} 
.bottom-nav{
    float: right;
} 
.footer-name {
    float: left;
    margin: 15px;
 }               
}

@media (min-width: 1024px) {
    h1 {
    float: left;  
    text-align: left; 
  }
  .main-nav {
    text-align: right;
  }
    h1,
    .main-nav,
    .main-nav li { 
    display: inline;
  }    
     .main-nav {
     float: right
  }
  .main-nav li {
    padding: 10px;
    margin-right: 20px;
    list-style-type: none;
    float: left;
 } 
    .portfolio-content div {
    width: 33%
  }    
}
/* ==============  Clear Floats =============*/

.clearfix::after { 
    content: "";
    display: table;
    clear: both;
  }
