/* ============ Base Element Styles =========== */
* {
    box-sizing: border-box;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    color: rgb(102, 100, 100);
    margin: 4%;
    background-color: rgb(135, 238, 238)
}

img {
   max-width: 100%;
}

li {
    list-style: none;
    font-weight: 600;
    text-transform: uppercase;
    display: inline; 
} 

h2 {
    text-transform: uppercase;
    text-align: center;
}

main-header {
    background: lightgrey;
}
.contact-info {
    text-align: center;
}
p {
    line-height: 1.4;
    font-size: larger;
}

/* =======Pseudo Links ==========*/

a { text-decoration: none;
}

a:hover {
    text-decoration: blue;
}
/* =======Layout Styles========= */
    h1 {
        padding-bottom {
           padding-bottom: 12%;
        }
    }
    h1,
    .main-nav {
    margin-bottom: 30px;;
 }
    .main-nav li {
    padding-right: 15px;
 }
    .self-image {
    float: right;
    margin-right: 25px;
 }
    .portfolio-content {
    display: flex;
    flex-wrap: wrap;
 }
    .portfolio-content div {
    text-align: center;
    padding: 10px;
 }
  
    .bottom-nav li {
    padding-top: 20px;
    padding-right: 15px;
    list-style-type: none;
    float: left;
 }
    .footer-name {
    float: left;
    margin: 15px;
 }
    .bottom-nav{
     float: right;
 }


/* ==============  Clear Floats =============*/

.clearfix::after { 
    content: "";
    display: table;
    clear: both;
  }



 /* ============  Media Queries ============*/

 
 @media (min-width: 768px){
  .main-nav  {
  margin-top: 0;
  }
  .portfolio-content div {
  width: 50%
 }     
}
@media (min-width: 1024px) {
    h1,
    .main-nav,
    .main-nav li { 
    display: inline;
    } 
    h1 {
        float: left;
    
    }
    .portfolio-content div {
    width: 33%
    }
    .main-nav li {
    padding: 10px;
    margin-right: 20px;
    list-style-type: none;
    float: left;
     }    
     .intro {
        float: left;
        width: 33%;    
     }
     .main-nav {
        float: right
 }
  }
