/* -------  Base Element Styles */
* {
    box-sizing: border-box;
    
}
body{
    font-family: 'Rubik', sans-serif;
    color: rgb(102, 100, 100);
    margin: 4%;
    
}

img {
   max-width: 100%;
}

li {
    list-style: none;
    font-weight: 600;
    text-transform: uppercase;
    display: inline; 
} 

h2 {
    text-transform: uppercase;
    text-align: center;
}

main-header {
    background: lightgrey;
}
.contact {
    text-align: center;
}


/* Pseudo Links */
a { text-decoration: none;
}

a:hover {
    text-decoration: blue;
}
.portfolio-content {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-content div {
    text-align: center;
    padding: 10px;
}
header.main-header.clearfix {
    margin-bottom: 40px;
}


/* ----------- Clear Floats----------*/
.clearfix::after { 
    content: "";
    display: table;
    clear: both;
  }



 /* ----------- Media Queries----------*/

 @media (min-width: 768px){
    .portfolio-content div {
    width: 50%
    } 
    h1,
    .main-nav {
    text-align: center; 
    }
    .main-nav li {
    padding-right: 15px;
    }
    .self-image {
    width: 33%;
    float: right;
    }
 .intro {
    float: left;
    width: 35%;
  }
  .footer-name {
    float: left;
    margin: 15px;
  }
  .bottom-nav li {
    padding-top: 20px;
    padding-right: 15px;
    /* margin-right: 20px; */
    list-style-type: none;
    float: left;
 }
    .bottom-nav{
        float: right;
    }
 }
 @media (min-width: 1024px) {
    h1,
    .main-nav,
    .main-nav li { 
display: inline;
    }
    .portfolio-content div {
    width: 33%;
    }
.main-nav {
    float: right
}
.main-nav li {
padding: 10px;
margin-right: 20px;
list-style-type: none;
float: left;
 }
}
